<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- =============== Load Dependencies =============== -->
  <xacro:include filename="$(find torobo_resources)/urdf/common.xacro" />
  <xacro:include filename="$(find torobo_resources)/urdf/sensors/realsense/realsense_sr300.gazebo.xacro" />

  <!-- =============== Link & Joint =============== -->
  <xacro:macro name="realsense_sr300_v0" params="prefix parent *joint_origin">

    <!-- Camera -->
    <joint name="${prefix}camera_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}camera_link"/>
      <axis xyz="0 1 0" />
    </joint>
  
    <link name="${prefix}camera_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.12 0.02"/>
        </geometry>
      </collision>
  
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.12 0.02"/>
        </geometry>
        <material name="black"/>
      </visual>
    </link>
  
    <joint name="${prefix}camera_color_frame_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="0.02 0 0" rpy="0 0 0"/>
      <parent link="${prefix}camera_link"/>
      <child link="${prefix}camera_color_frame"/>
    </joint>
  
    <link name="${prefix}camera_color_frame">
    </link>
  
    <joint name="${prefix}camera_color_optical_frame_joint" type="fixed">
      <axis xyz="0 1 0" />
      <origin xyz="0 0 0" rpy="${-90*M_PI/180} 0 ${-90*M_PI/180}"/>
      <parent link="${prefix}camera_color_frame"/>
      <child link="${prefix}camera_color_optical_frame"/>
    </joint>
  
    <link name="${prefix}camera_color_optical_frame">
    </link>
  
    <!-- Gazebo -->
    <xacro:realsense_sr300_gazebo_v0 link_name="${prefix}camera_color_frame" frame_name="${prefix}camera_color_optical_frame" camera_name="${prefix}camera"/>

  </xacro:macro>
  
</robot>
