<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  

  <xacro:macro name="realsense_sr300_gazebo_v0" params="link_name frame_name camera_name">

    <!-- camera -->
    <gazebo reference="${link_name}">
      <material>Gazebo/Black</material>
      <sensor type="depth" name="${camera_name}">
        <update_rate>30.0</update_rate>
        <camera name="${camera_name}">
          <horizontal_fov>0.927295218</horizontal_fov> <!-- horizontal_fov = 2.0 * arctan(width / 2.0 * focalLength) -->
          <image>
            <width>640</width>
            <height>480</height>
            <format>B8G8R8</format>
          </image>
          <depth>
            <width>640</width>
            <height>480</height>
          </depth>
          <clip>
            <near>0.2</near>
            <far>1.5</far>
          </clip>
        </camera>
        <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>30.0</updateRate>
          <cameraName>${camera_name}</cameraName>
          <imageTopicName>color/image_raw</imageTopicName>
          <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <pointCloudTopicName>depth/points</pointCloudTopicName>
          <frameName>${frame_name}</frameName>
          <pointCloudCutoff>0.2</pointCloudCutoff>
          <pointCloudCutoffMax>1.5</pointCloudCutoffMax>
          <hackBaseline>0.0</hackBaseline>
          <focalLength>640.0</focalLength>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>  <!-- gazebo doesn't simulate Cx (rviz does). 0 means that Cx is center of width -->
          <Cy>0</Cy>  <!-- gazebo doesn't simulate Cy (rviz does). 0 means that Cy is center of width -->
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>

