<launch>

    <arg name="debug" default="false"/>
    <arg name="rate" default="100"/>
    <arg name="timeout_sec" default="5"/>

    <group ns="torobo">
        <node pkg="torobo_motion_manager" type="torobo_motion_manager_node" name="torobo_motion_manager_node"
              output="screen">
              <param name="debug"  value="$(arg debug)"/>
              <param name="rate"   value="$(arg rate)"/>
              <param name="timeout_sec" value="$(arg timeout_sec)"/>
        </node>
    </group>

</launch>
