<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  

  <xacro:macro name="torso_gazebo_v0" params="prefix">

    <!-- torso_link0 -->
    <gazebo reference="${prefix}torso/link_0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  
    <!-- torso_link1 -->
    <gazebo reference="${prefix}torso/link_1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  
    <!-- torso_link2 -->
    <gazebo reference="${prefix}torso/link_2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- torso_link_tip -->
    <gazebo reference="${prefix}torso/link_tip">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  
  </xacro:macro>

</robot>
