<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- =============== Load Dependencies =============== -->
  <xacro:include filename="$(find torobo_resources)/urdf/common.xacro"/>

  <!-- =============== Constants =============== -->
  <xacro:property name="base_type" value="TRBB-K-A-001"/>
  <xacro:property name="vis_mesh_scale"  value="1.0 1.0 1.0"/>
  <xacro:property name="col_mesh_scale"  value="1.0 1.0 1.0"/>

  <!-- =============== Link & Joint =============== -->
  <xacro:macro name="base_v0" params="prefix parent *joint_origin">

    <joint name="${prefix}base_footprint_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}base_footprint"/>
    </joint>
    <link name="${prefix}base_footprint"/>

    <joint name="${prefix}base_joint" type="fixed">
      <origin xyz="0 0 0"/>
      <parent link="${prefix}base_footprint"/>
      <child link="${prefix}base_link"/>
    </joint>

    <link name="${prefix}base_link">
      <visual>
        <geometry>
          <mesh filename="package://torobo_resources/meshes/base/${base_type}/DAE/base.dae" scale="${vis_mesh_scale}"/>
        </geometry>
        <material name="white"/>
        <origin xyz="0 0 0" rpy="0 0 ${180*M_PI/180}"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://torobo_resources/meshes/base/${base_type}/STL/base.stl" scale="${col_mesh_scale}"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${180*M_PI/180}"/>
      </collision>
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="50"/>
        <inertia
          ixx="1" ixy="0" ixz="0"
          iyy="1" iyz="0" izz="1"/>
      </inertial>
    </link>

    <joint name="${prefix}base/joint_tip" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base/link_tip"/>
      <origin xyz="0 0 0.74" rpy="0 0 0"/>
    </joint>
    <link name="${prefix}base/link_tip"/>

  </xacro:macro>

</robot>
