<launch>

    <node pkg="torobo_gui" name="torobo_teaching_manager_spawner_node" type="torobo_teaching_manager_spawner.py" ns="torobo" output="screen"
          args="--pkg=rqt_gui --type=rqt_gui --name=torobo_teaching_manager --output=screen
                --perspective_dir=$(find torobo_gui)/perspective"/>

</launch>
